# env files
.env
**/.env

# python
__pycache__/
*.pyc

# node
node_modules/
.next/
.vercel
.env*.local

# local-only
.env.local
.vercel/

__pycache__/
*.pyc
backend/.env
web/.env.local

supabase/.temp/
supabase/.branches/
supabase/.temp/
supabase/.branches/
