# env files
.env
.env.*
!.env.example
!.env.local.example
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example

supabase/.temp/
supabase/.branches/
supabase/.temp/
supabase/.branches/

.venv/

**/.venv/